@import "../../../styles/settings.scss";

.root {
  background-color: $header-bg;
  display: flex;

  :global(.container) > :global(.row) {
    height: 145px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column;
      height: auto;
    }
  }

  .phoneNumber {
    p {
      margin: 0;
      font-size: 17px;
      line-height: 42px;
      color: $text-grey-light;
      font-weight: 500;
      white-space: nowrap;

      .icon {
        font-size: 32px;
        color: $header-primary;
        vertical-align: middle;
        margin-top: -3px;
        margin-right: 0.8rem;
      }
    }
    @media (max-width: 768px) {
      p {
        font-size: 14px;
        text-align: center;
      }
    }
    @media (max-width: 576px) {
      order: 3;
    }
  }

  .searchBar {
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      margin-bottom: 1rem;
    }

    input[type="text"] {
      padding: 8px;
      border: none;
      border-radius: 4px;
      margin-right: 1rem;
      font-size: 14px;
      width: 200px;

      @media (max-width: 768px) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }

    button {
      padding: 8px 16px;
      background-color: $primary;
      color: #fff;
      border: none;
      border-radius: 4px;
      font-size: 14px;
      cursor: pointer;

      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }

  .cart {
    .cartBox {
      display: inline-block;
      position: relative;
      color: $text-light;

      .cartIcon {
        background-color: $header-primary;
        width: 55px;
        height: 50px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;

        .icon {
          margin-right: 5px;
        }
      }

      .cartCounter {
        width: 50px;
        height: 27px;
        padding-left: 12px;
        border-radius: 14px;
        background-color: $header-bg;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 14px;
        color: $header-cart-counter;
        position: absolute;
        top: 50%;
        right: -14px;
        transform: translate(50%, -50%);
      }

      &:hover {
        .cartIcon {
          background-color: lighten($header-primary, 10%);
        }
      }
    }
    @media (max-width: 576px) {
      padding-bottom: 27px;
    }
  }
  @media (max-width: 300px) {
    img {
      width: 150%;
    }
  }

  @media (max-width: 768px) {
    padding: 10px;

    .container {
      width: 100%;
      max-width: none;
    }
  }
}
