@import '../../../styles/settings.scss';

.chatBot {
  position: fixed;
  bottom: 20px;
  left: 10px;
  max-width: 100%;
}

.chat {
  display: none;
}

.active {
  display: block;
}

.hide {
  display: none;
}

.chatBotBtn {
  margin-top: -2px;
  padding: 10px 20px;
  color: $color-light;
  font-size: 16px;
  border: none;
  border-radius: 5px;

  background-color: $color-primary;
  outline: none;
}

.chat__header {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  padding-bottom: 10px;
  background-color: $color-primary;
}

.chat__refreshBtn,
.chat__closeBtn {
  color: $color-light;
  width: 20px;
  height: 20px;

  background-color: transparent;
  border: none;
}

.chat__messages {
  padding: 20px;
  border-right: 2px solid $color-primary;
  border-left: 2px solid $color-primary;
  background-color: $color-light;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat__message {
  display: flex;
  align-items: baseline;
  max-height: 300px;
  width: 100%;
}

.chat__messageText {
  margin-left: 10px;
  padding: 5px 10px;

  border: 1px solid $color-grey-4;
  border-radius: 10px;
  box-shadow: 8px 8px 11px -8px rgba(66, 68, 90, 1);
}

.chat__form {
  display: flex;
  background-color: $color-grey-3;
  width: 100%;

  & input {
    color: $color-light;
    border: none;
    outline: none;
    background-color: transparent;
  }

  & button {
    border: none;
    background-color: $color-grey-3;
    color: $color-light;
  }
}

.chat__iconBox {
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $color-primary;
}

.chat__iconBottom {
  background-color: $color-primary;
  height: 40px;
  clip-path: polygon(6% 0, 0% 100%, 0 0);
}

.chat__icon {
  font-size: 30px;
  color: $color-light;
}

.chatbox {
  max-width: 300px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  overflow-y: scroll;
}

.chatlog {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  padding: 5px;
}

.botMessage {
  background-color: #e1ffc7;
  text-align: right;
}

.userMessage {
  background-color: #eee;
  text-align: right;
  color: aqua;
}

.messageWindow {
  margin-top: -2px;
  padding: 10px 20px;
  color: #000;
  font-size: 16px;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  background-color: white;
  outline: none;
  width: 100%;
}

.messageWindow::before {
  text-align: right;
}