@import "../../../styles/settings.scss";

.root {
	
	.title {
	background-color: $promoted-title-bg;
	margin-bottom: 0;
	padding: .75rem 1.5rem;
	color: $text-light;
	text-transform: uppercase;
		p {
			font-size: 18px;
			margin-bottom: 0;
			font-weight: 700;
		}
		.dots {
			position: absolute;
			right: 0;
			top: 0;

			ul {
				margin: 0;
				padding: 0 0 0 1rem;
				list-style: none;
				transform: translateX(-15px);
				

				li {
					display: inline-block;
					margin-left: 0.5rem;

					a {
						display: block;
						width: 13px;
						height: 13px;
						border-radius: 6px;
						background-color: $promoted-dot;
						font-size: 0;

						&.active,
						&:hover {
							background-color: $promoted-primary;
						}
					}
				}
			}
		}
	}
	.countdown {
		position: absolute;
		top: 250px;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $text-light;
		text-align: center;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
		ul {
			padding-inline-start: 0;
			display: flex;
			list-style: none;
		}
		li:first-of-type{
			margin-left: 0;
		}
		li {
			margin-left: 5px;
			padding-top: 5px;
			width: 65px;
			height: 65px;
			background-color: $promoted-countdown-bg;
			
			border-radius: 50%;
			span{
				font-size: 20px;
			}
		}
	}
	.img {
		position: relative;
		background-color: $color-grey-1;
		width: 100%;
		height:95%;
		text-align: center;
		.banner {
			position: absolute;
			padding: 35px 0;
			width: 100%;
			top:50%;
			left:0;
			transform: translateY(-50%);
			background-color: rgba(42, 42, 42, 0.5);
			color: $text-light;
			text-transform: uppercase;
			h2 {
				font-size: 45px;
			}
			h3 {
				font-size: 20px;
			}
		}
	}
	.nav {
			height: 5%;
			width: 100%;
			text-align: center;
			background-color: $promoted-title-bg;
			color: $text-light;
			a {
				line-height: 175%;
				width: 50%;
				display: inline-block;
			}
			a:hover {
				background-color: $promoted-primary;
				color: $text-light;
			}
		}
}
