@import "../../../styles/settings.scss";
@import "../../../styles/media-queries.scss";

.root {

  @media screen and (max-width: 767px) {

    p {
      display: none;

    }
    .title {
      display: none;
    }
    .banner {
    width: 100%;
    }

  }
}


.root {


  .title {

    background-color: $promoted-title-bg;
    position: relative;
    margin-bottom: 0;
    padding: .75rem 1.5rem;
    color: $text-light;
    text-transform: uppercase;


    p {
      font-size: 18px;
      margin-bottom: 0;
      font-weight: 700;
    }

    .dots {
      position: absolute;
      right: 0;
      top: 0;

      ul {
        margin: 0;
        padding: 0 0 0 1rem;
        list-style: none;
        transform: translateX(-15px);


        li {
          display: inline-block;
          margin-left: 0.5rem;

          a {
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 6px;
            background-color: $promoted-dot;
            font-size: 0;

            &.active,
            &:hover {
              background-color: $promoted-primary;
            }
          }
        }
      }
    }
  }

  .banner {
    height: 528px;


    .nav {
      height: 5%;
      width: 100%;
      text-align: center;
      background-color: $promoted-title-bg;
      color: $text-light;

      a {
        line-height: 175%;
        width: 50%;
        display: inline-block;
      }

      a:hover {
        background-color: $promoted-primary;
        color: $text-light;
      }
    }

    .fade {
      opacity: 0;
      transition: opacity 0.3s;
    }

    @media (max-width: 1000px) {
      .nav {
        height: 30px;
        max-width: 100%;
      }
    }
  }
}

