$base-padding: 24px;

// Global style about animation for hover buttons
$animation-time: 10s;
$animation-time-short: $animation-time * 0.8; // Adjust the shorter duration as needed

// Define CSS variables for animation times
:root {
  --animation-time-background: $animation-time;
  --animation-time-color: $animation-time; // Change to -short if needed diffrent times
}

// Mixin for hover effects with customizable animation times
%hover-effect {
  transition-property: background-color, color;
  transition-duration: var(--animation-time-background), var(--animation-time-color);
}

* {
  @extend %hover-effect;
}

//Colors - DO NOT USE COLOR-... VAR IN OTHER FILES!!!!!!!!!

$color-primary: #d58e32;
$color-grey-1: #e2e2e2;
$color-grey-2: #d8d8d8;
$color-grey-3: #b6b6b6;
$color-grey-4: #a8a8a8;
$color-grey-5: #434343;
$color-grey-6: #363636;
$color-light-blue-1: #f4f5f7;
$color-light-blue-2: #e0e3ed;
$color-light: #fff;
$color-dark: #2a2a2a;


//Header
$header-primary: $color-primary;
$header-topbar-bg: $color-grey-5;
$header-bg: $color-grey-6;
$header-cart-counter: $color-light-blue-2;

//Form
$form-primary: $color-primary;
$form-bg: $color-light;
$form-border: $color-dark;

//Menu Bar
$menu-bar-primary: $color-primary;
$menu-bar-bg: $color-light;

//Feature Box
$feature-box-primary: $color-primary;
$feature-box-bg: $color-light;
$feature-box-border: $color-grey-3;

//New Furniture
$new-furniture-primary: $color-primary;
$new-furniture-bg: $color-light;
$new-furniture-border: $color-grey-1;

//Product Box
$product-box-primary: $color-primary;
$product-box-bg: $color-light;
$product-box-accent-bg: $color-dark;
$product-box-border-light: $color-grey-1;
$product-box-border-dark: $color-dark;
$product-box-photo-bg: $color-light-blue-1;

//Footer
$footer-primary: $color-primary;
$footer-claim-bg: $color-dark;
$footer-bg: $color-grey-6;
$footer-text: $color-grey-4;

//Button
$button-primary: $color-primary;
$button-bg: $color-dark;
$button-border: $color-dark;
$button-price-bg: $color-light;

//Text
$text-dark: $color-dark;
$text-light: $color-light;
$text-grey-light: $color-grey-2;


// Brands
$brands-grey: $color-grey-2;
$brands-button: $color-dark;
$brands-button-arrow: $color-light;

