$base-padding: 24px;

// Global style about animation for hover buttons
$animation-time: 10s;
$animation-time-short: $animation-time * 0.8; // Adjust the shorter duration as needed

// Define CSS variables for animation times
:root {
  --animation-time-background: $animation-time;
  --animation-time-color: $animation-time; // Change to -short if needed diffrent times
}

// Mixin for hover effects with customizable animation times
%hover-effect {
  transition-property: background-color, color;
  transition-duration: var(--animation-time-background), var(--animation-time-color);
}

* {
  @extend %hover-effect;
}

//Colors - DO NOT USE COLOR-... VAR IN OTHER FILES!!!!!!!!!

$color-primary: #d58e32;
$color-grey-1: #e2e2e2;
$color-grey-2: #d8d8d8;
$color-grey-3: #b6b6b6;
$color-grey-4: #a8a8a8;
$color-grey-5: #434343;
$color-grey-6: #363636;
$color-light-blue-1: #f4f5f7;
$color-light-blue-2: #e0e3ed;
$color-light: #fff;
$color-dark: #2a2a2a;
$color-deepblack: #000;

//Header
$header-primary: $color-primary;
$header-topbar-bg: $color-grey-5;
$header-bg: $color-grey-6;
$header-cart-counter: $color-light-blue-2;

//Cart
$cart-header-bg: $color-grey-1;
$cart-primary: $color-primary;

//Form
$form-primary: $color-primary;
$form-bg: $color-light;
$form-border: $color-dark;

//Menu Bar
$menu-bar-primary: $color-primary;
$menu-bar-bg: $color-light;

//Promoted
$promoted-primary: $color-primary;
$promoted-title-bg: $color-dark;
$promoted-dot: $color-grey-1;
$promoted-countdown-bg: $color-dark;

//Feature Box
$feature-box-primary: $color-primary;
$feature-box-bg: $color-light;
$feature-box-border: $color-grey-3;

//New Furniture
$new-furniture-primary: $color-primary;
$new-furniture-bg: $color-light;
$new-furniture-border: $color-grey-1;

//Product Box
$product-box-primary: $color-primary;
$product-box-bg: $color-light;
$product-box-accent-bg: $color-dark;
$product-box-border-light: $color-grey-1;
$product-box-border-dark: $color-dark;
$product-box-photo-bg: $color-light-blue-1;

//Compared Product
$compared-product-primary: $color-primary;
$compared-product-bg: $color-light;
$compared-product-gray: $color-grey-1;
$compared-product-gray-4: $color-grey-4;

//Footer
$footer-primary: $color-primary;
$footer-claim-bg: $color-dark;
$footer-bg: $color-grey-6;
$footer-text: $color-grey-4;

//Button
$button-primary: $color-primary;
$button-bg: $color-dark;
$button-border: $color-dark;
$button-price-bg: $color-light;

// FURNITURE GALLERY

$furniture-gallery-light: $color-light;
$furniture-gallery-dark: $color-dark;
$furniture-gallery-gray-light: $color-grey-1;
$furniture-gallery-gray-medium-dark: $color-grey-2;
$furniture-gallery-gray-dark: $color-grey-4;
$furniture-gallery-main: $color-primary;

//Text
$text-dark: $color-dark;
$text-light: $color-light;
$text-grey-light: $color-grey-2;

// Brands
$brands-grey: $color-grey-2;
$brands-button: $color-dark;
$brands-button-arrow: $color-light;

// LatestBlog

$latest-blog-light: $color-light;
$latest-blog-dark: $color-dark;
$latest-blog-gray-light: $color-grey-1;
$latest-blog-gray-dark: $color-grey-4;
$latest-blog-main: $color-primary;

//FilterByCategory

$filter-by-category-dark: $color-dark;
$filter-by-category-main: $color-primary;
$filter-by-category-light: $color-light;

//Filters

$filter-dark: $color-dark;
$filter-main: $color-primary;
$filter-light: $color-light;

//FilterByColors 

$colorRed: red;
$color-deepblack: black;
$colorYellow: yellow;
$colorBlue: blue;
$colorPink: fuchsia;
$colorGreen: lightgreen;