@import "../../../styles/settings.scss";

.root {
  background-color: $product-box-bg;
  border: 1px solid $product-box-border-light;
  margin-bottom: 2rem;

  .photo {
    position: relative;
    padding: 10px;
    background: {
      color: $product-box-photo-bg;
      size: contain;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;
    align-items: flex-end;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 300px;
    }

    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $product-box-accent-bg;
      border-radius: 50%;
      color: $text-light;
      padding: 30px 15px 5px 15px;
    }

    .buttons {
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      padding: 0 10px;
    }
  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $product-box-primary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .stars {
      a {
        text-decoration: none;
        color: $text-dark;
      }
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid $product-box-border-dark;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $product-box-primary;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .pricesContainer {
    display: flex;
    align-items: center;
    .oldPrice {
      text-decoration: line-through;
      margin: 0 10px;
      color: #6c757d !important;
      font-size: 13px;
    }
  }
}
