
@import "../../../styles/settings.scss";
@import "../../../styles/media-queries.scss";

.root {
  border: 1px solid $form-border;
  display: inline-flex;
  color: $text-dark;
  align-items: center;
  @include respond-to(tablets) {
    flex-wrap: wrap;
  }

  .category {
    border-right: 1px solid $form-border;
    display: flex;
    align-items: center;
    position: relative;

    @include respond-to(tablets) {
      flex-basis: 100%;
      border-right: 0;
    }

    @include respond-to(mobile) {
      border-right: 0;
    }


    .icon:first-child {
      color: $form-primary;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
      @include respond-to(mobile) {
        display: none;
      }
    }

    &:hover ul.dropdown {
      display: block;
      background-color: $text-light;
    }

    > span {
      padding: 10px 30px 10px 35px;
      font-size: 16px;
      cursor: pointer;
    }

    ul.dropdown {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      list-style: none;
      padding: 0;
      margin: 0;
      background-color: $form-bg;
      border: 1px solid $form-border;
      z-index: 1;
      font-weight: bold;
      width: 100%;


      > li {
        position: relative;


        > span {
          padding: 5px 30px 5px 35px;
          cursor: pointer;
        }

        &:hover > ul {
          display: block;
        }

        > ul {
          display: none;
          list-style: none;
          font-weight: normal;
          font-size: 16px;

          > li {
            padding: 5px 30px 5px 5px;
            cursor: pointer;
            font-size: 16px;
          }

          &:hover {
            display: block;
          }
          option:nth-child(1):hover {
            outline: 0;
            outline: none;
            color: $menu-bar-primary;
          }
        }
      }
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 34px;
    @include respond-to(tablets) {
      flex-basis: 100%;
    }

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-dark;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}
