@import "../../../styles/settings.scss";

.root {
    margin-bottom: 50px;;
    .title {
        font-size: 16px;
        position: relative;
        font-weight: bolder;
        padding-bottom: 20px; 
    }
    .title::after {
        content: '';
        position: absolute;
        top: 30px;
        left: 0px;
        background-color: $filter-dark;
        width: 100%;
        height: 1px; 
    }
    .categories { 
        margin: 5px 0;
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        width: 100%;
        .categoryBox {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 5px;
            font-size: 14px;
            .categorBoxTwo {
                display: flex;
                flex-direction: row;
                input {
                    margin-right: 10px;
                }
            }
            .number {
                background-color: $filter-dark;
                color: $filter-light;
                height: 23px;
                width: 23px;
                border-radius: 0.15em;
                text-align: center;
                border-radius: 50%;
            }
            &.active {
                color: $filter-main;
                margin-left: 15px;
                .categorBoxTwo {
                    display: flex;
                    flex-direction: row;
                    input {
                        margin-right: 10px;
                        &[type='checkbox'] {
                            border-color: $filter-main;
                            background-color: $filter-main;
                        }
                    }
                    input:checked{
                        appearance: none;
                        width: 1.15em;
                        height: 1.15em;
                        border-radius: 0.15em;
                        position: relative;
                    }
                    input:checked::before {
                        content: "";
                        width: 0.65em;
                        height: 0.65em;
                        transition: 120ms transform ease-in-out;
                        box-shadow: inset 1em 1em var(--form-control-color);
                        background-color: $filter-light;
                        transform-origin: bottom left;
                        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
                        left: 1px;
                        top: 1px;
                        position: absolute;
                      }
                }
                .number {
                    background-color: $filter-main;
                    color: $filter-light;
                    height: 23px;
                    width: 23px;
                    text-align: center;
                    border-radius: 50%;
                }
            }
        }
        
    }
}