@import "../../../styles/settings.scss";

.root{
	
	thead {
		background: $cart-header-bg;
	}
	tfoot {
		
		input {
			margin-right: 15px;
			width: auto;
		}
	}
	table {
		margin-top: 50px;
		
	}
	table:last-of-type {
		margin-bottom: 50px;
	}
	table:last-child {
		border-bottom: 2px solid #dee2e6;
	}
	.center {
		margin: 0 auto;
	}
	a:hover{
		text-decoration: none;
	}
	.header {
		background-color: $cart-header-bg;
		ol{
			background-color: transparent;
			margin-bottom: 0;
			a { 
				color: $cart-primary;
			}
			a:hover {
				color: $text-dark;
			}
			
		}
	}
	.title{
		margin-left: 15px;
		font-weight: 300;
	}
	.total{
		color: $cart-primary;
	}
	.button {
		text-transform: uppercase;
		margin-top: 7px;
	}
}