@import "../../../styles/settings.scss";
.stickyBar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  padding-left: 20px;
  padding-bottom: 10px;

  // height: 150px;

  & .header {
    flex-basis: 100%;
    margin: 0;
    padding: 5px;
    width: 20%;
    background-color: $compared-product-gray-4;
  }
}

